* {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}
body, html{
    background: #F2F5F9;
    box-sizing: border-box;
    min-width: 100%;
}
a{
    text-decoration: none;
    color: black;
}
li{
    list-style: none;
}
#wrapper{
    display: flex;
    width: 100%;
}
.left{
    min-height: 100vh;
    width: 16%;
    background: #FEFEFE;
    position: absolute;
    float: left;
}
.logo{
    margin: 21px 0 0 42px;
}
.logo a {
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    color: #28B7FF;
}

.navbar{
    padding: 57px 0 0 24px;
}
.navbar li{
    padding-bottom: 40px;
    max-width: 100%;
}
.navbar li a{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    opacity: 0.6;
    padding-left: 30px;
    padding-right: 30px;
}
.navbar li a:hover{
    color: #28B7FF;
    border-left: 2px solid #28B7FF;
}

.right{
    margin: 42px 0 0 272px;
    float: right;
}
.header{
    display: flex;
}
.name__menu{
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    opacity: 0.8;
}
.authorization__language{
    padding-left: 683px;
}
.authorization__language a{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    opacity: 0.6;
}
.customer__recognition{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    opacity: 0.5;
}
.profile{
    margin-top: 26px;
    text-align: center;
    display: flex;
}

.photo{
    padding-top: 25px;
    padding-bottom: 30px;
    background: #FEFEFE;
    width: 25%;
    border-radius: 15%;
}

.info{
    padding-top: 20px;
    margin-left: 10px;
    background: #FEFEFE;
    width: 45%;
    border-radius: 15px;
}
.info a{
    margin-left: 30px;
}
.change{
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    opacity: 0.4;
}
.about__buy{
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
    opacity: 0.8;
}
.about{
    display: flex;
    padding-top: 34px;
}
.date__registration, .date__last__buy, .gender, .hb{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    opacity: 0.6;
}
.about ul {
    margin-bottom: 29px;
}
.re-recognize{
    margin-left: 40px;
    height:40px ;
    width: 220px;
    background: #28B7FF;
    border-radius: 15%;
    color: white;
}

.bottom__block{
    margin-top: 9px;
    border: 32px solid #FEFEFE;;
    width: 65%;
    border-radius: 15px;
}
.history__recommended{

}

#tabs ul {
    position: absolute;
}

#tabs ul li {
    float:left;
}
.avatar{
    max-width: 100%;
}
